AUTH_TOKEN_FILE=/path/to/.token
PC_TAILSCALE_IP=<PC_TAILSCALE_IP>
PC_API_PORT=8081
ROUTER_TAILSCALE_IP=<ROUTER_TAILSCALE_IP>
ROUTER_API_PORT=8080
WIRED_IFACE=<PC_WIRED_INTERFACE>
WOL_TARGET_MAC=<PC_ETHERNET_MAC>
WOL_LAN_INTERFACE=br0
